[alias]
  st = status
  co = checkout
	; lg = log --pretty=format:"%h%x09%an%x09%s"
  lg = log --oneline
  br = branch
  diffs = diff --staged
  diffw = diff --word-diff
  diffsw = diff --staged --word-diff
  diffws = diff --staged --word-diff
  unstage = reset -- .
[user]
  name = Vlad Tymoshchyk
  email = vtymoshchyk@gmail.com
